html {
    background-color: #140d07;
}
header {
    position: relative;
    background-color: #302521;
    width: 99%;
    height: 64px;
    z-index: 2;
    border-radius: 0px 0px 6px 6px;
}
.banniere {
    position: relative;
    z-index: 1;
    width: 99%;
    border-radius: 0px 6px 0px 0px;
}
.logo {
    position: absolute;
    width: 4%;
    top: 0px;
    left: 0px;
    z-index: 3;
}
.navigation {
    position: relative;
}
nav ul ul{
    display: none;
}
nav ul:hover ul {
    display: block;
}
nav li li {
    display: none;
    
}
nav li:hover li {
    display: block;
}
.menu_icone {
    width: 25px;
}
ul, li {
    list-style: none;
}
nav {
    float: left;
    width: 400px;
    transition: 5s;
    border-radius: 6px;
    transition-duration: 2s;
}
nav:hover{
    background-color: #3e3129;
}
nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition-duration: 4s;
}
nav a:hover {
    transition-duration: 4s;
}
