header {
    background-color: #046376;
    width: 100%;
    height: 80px;
    padding-top: 30px;
}
nav ul ul{
    display: none;
}
nav ul:hover ul {
    display: block;
}
nav li li {
    display: none;
    transition: 4s;
}
nav li:hover li {
    display: block;
}
.menu_icone {
    width: 25px;
}
ul, li {
    list-style: none;
}
nav {
    background-color: #034653;
    float: left;
    width: 400px;
    transition: 5s;
    border-radius: 6px;
    transition-duration: 4s;
}
nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}